.link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--background-color-accent, #ff0070);
  --border: 1px solid currentColor;
}

.link:hover {
  border-block-end: var(--border);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: var(--border);
  margin: -1px;
}
