.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-section, 20px);
}

.section__title {
  font-size: inherit;
  font-weight: bold;
  color: var(--color-button, #ff0070);
}

.section__content,
ul.section-part__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-section-text, 20px);
}

.section-part:has(img),
.section-part__content:has(img) {
  gap: var(--gap-section-images, 10px);
}

.section-part__title,
.section-subpart__title {
  font-size: inherit;
  color: var(--color-accent, #000028);
  background-color: var(--background-color-accent, #ff0070);
}

.section__content:not(.section-part) .section-part__title {
  margin-block-end: var(--margin-block-end-part-title, 10px);
}

.section-part__title {
  font-weight: bold;
}

.section-subpart__title {
  margin-block-end: var(--margin-block-end-subpart-title);
  font-weight: normal;
}

.section-part__title 
.section-part__content:has(img) {
  display: flex;
  flex-direction: column;
}

.section-part__image {
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .section:not(:has(img)) {
    grid-template-columns: 1fr 2fr;
  }

  .section:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:nth-of-type(2) .section__content {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .section-part__content:has(img) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-part__image-container:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section-part__image-container:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-part__image-container:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section-part__image-container:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section-part__image-container:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .section:nth-of-type(2) .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}