/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color: var(--light-black);
  --color-accent: var(--light-black);
  --color-title: var(--light-pink-1);
  --color-button: var(--light-black);
  --background-color-accent: var(--pink);
  --background-image-header: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
