/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding-inline: var(--padding-inline-body, 10px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-body, 40px);
  font-family: var(--font-family, 'IBM Plex mono'), sans-serif;
  font-size: var(--font-size-text, 1.125rem);
  line-height: var(--line-height-text, 1.3);
  color: var(--color, #F1B2CE);
  background-color: var(--backgrond-color, #000028);
}

.header {
  position: relative;
  inline-size: 100%;
  block-size: calc(100vh - 2 * var(--margin-block-header, 10px));
  margin-block: var(--margin-block-header, 10px);
  display: flex;
  flex-direction: column;
}

.header::before,
.header::after {
  position: absolute;
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  --border: 1px solid var(--color-button);
}

.header::before {
  top: 0;
  right: 0;
  border-block-start: var(--border);
  border-inline-end: var(--border);
}

.header::after {
  bottom: 0;
  left: 0;
  border-inline-start: var(--border);
  border-block-end: var(--border);
}
