/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: var(--gap-body, 40px);
  font-family: var(--font-family, 'IBM Plex mono'), sans-serif;
  font-size: var(--font-size-text, 1.125rem);
  line-height: var(--line-height-text, 1.3);
  color: var(--color, #F1B2CE);
  background-color: var(--background-color, #000028);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--background-color-accent, #ff0070);
  --border: 1px solid currentColor;
}

.link:hover {
  border-block-end: var(--border);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: var(--border);
  margin: -1px;
}

.decorated-zone {
  position: relative;
  inline-size: 100vw;
  block-size: 100vh;
  padding: var(--padding-body, 10px);
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  --border: 1px solid var(--color-button);
}

.decorated-zone::before {
  top: var(--padding-body, 10px);
  right: var(--padding-body, 10px);
  border-block-start: var(--border);
  border-inline-end: var(--border);
}

.decorated-zone::after {
  bottom: var(--padding-body, 10px);
  left: var(--padding-body, 10px);
  border-inline-start: var(--border);
  border-block-end: var(--border);
}

.header {
  display: flex;
  flex-direction: column;
  background-image: var(
    --background-image-header,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__decoration {
  align-self: end;
  display: flex;
  align-items: center;
  color: var(--color-button, #ff0070);
  line-height: 1.5;
}

.header__decoration::after {
  display: inline-block;
  margin-inline: 10px;
  inline-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-button, #ff0070);
  content: '';
  background-color: var(--color-button, #ff0070);
}

.header__theme-menu {
  align-self: end;
  margin-block-start: 39px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button { 
  --border: 1px solid var(--border-color);
  --border-color: transparent;
  border: var(--border);
  padding: var(--padding-button, 0.083em 0.722em);
  font-size: inherit;
  text-transform: lowercase;
  color: var(--color-button, #ff0070);
  background-color: transparent;
}

.header__theme-menu-button:disabled {
  --border-color: currentColor;
}

.header__theme-menu-button:hover {
  --border-color: var(--color-button-hover, rgb(255 0 112 / 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-block-end: var(--border);
  border-color: currentColor;
  margin-block-start: 1px;
}

.decorated-text {
  font-size: var(--font-size-header-title, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: bold;
  line-height: var(--line-height-header-title, 0.825);
  text-shadow: var(--text-shadow-position) 0 var(--background-color-accent, #ff0070);
  color: var(--color-title, #df00ff);
}

.header__title {
  margin-block-start: 65px;
  --text-shadow-position: 4px 4px;
}

.header__description {
  margin-block-start: 55px;
  color: var(--color-accent, #000028);
  background-color: var(--background-color-accent, #ff0070);
  font-weight: bold;
}

.content {
  padding-inline: var(--padding-body, 10px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-main, 50px);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-section, 20px);
}

.section__title {
  font-size: inherit;
  font-weight: bold;
  color: var(--color-button, #ff0070);
}

.section__content,
.ul.section-part__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-section-text, 20px);
}

.section-part__title {
  margin-block-end: var(--margin-block-end-part-title, 10px);
  font-size: inherit;
  font-weight: bold;
  color: var(--color-accent, #000028);
  background-color: var(--background-color-accent, #ff0070);
}

.section-part:has(.section-subpart) .section-part__title {
  --margin-block-end-part-title: 20px;
}

.section-part:has(img) .section-part__title {
  margin-block-start: 30px;
}

.section-subpart__title {
  margin-block-end: var(--margin-block-end-subpart-title, 10px);
  font-size: inherit;
  font-weight: normal;
  color: var(--color-accent, #000028);
  background-color: var(--background-color-accent, #ff0070);
}

.section-part__content:has(img) {
  display: flex;
  flex-direction: column;
  gap: var(--gap-section-images, 10px);
}

.section-part__image {
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  --text-shadow-position: 2px 2px;
}

@media (width >= 768px) {
  .header__description {
    inline-size: 50%;
    align-self: end;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section-part__content:has(img) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-part__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section-part__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-part__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section-part__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section-part__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    margin-block-start: 192px;
  }

  .header__title {
    margin-block-start: 173px;
  }

  .header__description {
    margin-block-start: 162px;
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-block-start: 273px;
  }

  .header__description {
    margin-block-start: 114px;
  }

  .section:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:nth-of-type(2) .section__content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}