/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: var(--gap-body, 40px);
  font-family: var(--font-family, 'IBM Plex mono'), sans-serif;
  font-size: var(--font-size-text, 1.125rem);
  line-height: var(--line-height-text, 1.3);
  color: var(--color, #F1B2CE);
  background-color: var(--background-color, #000028);
}

.content {
  padding-inline: var(--padding-body, 10px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-main, 50px);
}
