/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding-inline: var(--padding-inline-body, 10px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-body, 40px);
  font-family: var(--font-family, 'IBM Plex mono'), sans-serif;
  font-size: var(--font-size-text, 1.125rem);
  line-height: var(--line-height-text, 1.3);
  color: var(--color, #F1B2CE);
  background-color: var(--backgrond-color, #000028);
}

.header {
  position: relative;
  inline-size: 100%;
  block-size: calc(100vh - 2 * var(--margin-block-header, 10px));
  margin-block: var(--margin-block-header, 10px);
  display: flex;
  flex-direction: column;
  background-image: var(
    --background-image-header,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header::before,
.header::after {
  position: absolute;
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  --border: 1px solid var(--color-button);
}

.header::before {
  top: 0;
  right: 0;
  border-block-start: var(--border);
  border-inline-end: var(--border);
}

.header::after {
  bottom: 0;
  left: 0;
  border-inline-start: var(--border);
  border-block-end: var(--border);
}

.header__decoration {
  align-self: end;
  display: flex;
  align-items: center;
  color: var(--color-button, #ff0070);
  line-height: 1.5;
}

.header__decoration::after {
  display: inline-block;
  margin-inline: 10px;
  inline-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-button, #ff0070);
  content: '';
  background-color: var(--color-button, #ff0070);
}

.header__theme-menu {
  align-self: end;
  margin-block-start: 39px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button { 
  padding: var(--padding-button, 0.083em 0.722em);
  border: 1px solid transparent;
  font-size: inherit;
  text-transform: lowercase;
  color: var(--color-button, #ff0070);
  background-color: transparent;
}

.header__theme-menu-button:disabled {
  border: 1px solid currentColor;
}

.header__title {
  margin-block-start: 65px;
  font-size: var(--font-size-header-title, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--line-height-header-title, 0.825);
  text-shadow: 4px 4px 0 var(--background-color-accent, #ff0070);
  color: var(--color-title, #df00ff);
}

.header__description {
  margin-block-start: 55px;
  color: var(--color-accent, #000028);
  background-color: var(--backgrond-color-accent, #ff0070);
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main, 50px);
}