/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --white: #FFF1F7;
  --light-pink-1: #FFC2E6;
  --light-pink-2: #F1B2CE;
  --pink: #FF8DCB;
  --violet: #DB00FF;
  --red: #FF0070;
  --light-black: #353430;
  --black: #000028;

  --font-family: 'IBM Plex mono';
  --font-size-main: 1.125rem;
  --font-size-header-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-header-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --line-height-main: 1.3;
  --line-height-header-title: 0.825;

  --gap-body: 40px;
  --gap-main: 50px;
  --gap-section-text: 20px;
  --gap-section-images: 10px;

  --padding-body: 10px;
  --padding-block-end-section-title: 20px;
  --padding-block-end-part-title: 10px;
  --padding-block-end-subpart-title: 10px;
  --padding-button: 0.083em 0.722em;
}

@media (width >= 768px) {
  :root {
    --gap-body: 60px;
    --gap-main: 80px;
    --gap-section-images: 10px;

    --padding-body: 20px;
  }
}